
body {
    font-family: "Open Sans", Arial;
    background: rgb(255, 255, 255);
  }
  main {
    background: #EEE;
    width: 600px;
    margin: 20px auto;
    padding: 10px 0;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  }
  h2 {
    text-align: center;
  }
  p {
    font-size: 20px;
  }

  h1{
      font-size: 30px;
  }

  section {
    padding: 0 20px;
  }

  .centered-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }